.grande{
	position: absolute;
	top: 110px;
	left: 250px;
	width: 900px;
	height: 550px;
	background: black;
}
.medio1{
	position: absolute;
	top: 90px;
	left: 230px;
	width: 450px;
	height: 70px;
	background: red;
}
.medio2{
	position: absolute;
	top: 170px;
	left: 20px;
	width: 370px;
	height: 440px;
	background: white;
}
.medio3{
	position: absolute;
	top: 170px;
	left: 400px;
	width: 480px;
	height: 440px;
	background: white;
}
.pequeñoti1{
	position: absolute;
	top: 90px;
	left: 57px;
	width: 250px;
	height: 50px;
	background: red;
}
.pequeñote1{
	position: absolute;
	top: 150px;
	left: 10px;
	width: 350px;
	height: 200px;
	background: red;
}
.pequeñofo1{
	position: absolute;
	top: 360px;
	left: 50px;
	width: 270px;
	height: 150px;
	background: red;
}
.pequeñote2{
	position: absolute;
	top: 90px;
	left: 20px;
	width: 440px;
	height: 230px;
	background: red;
}
.pequeñofo2{
	position: absolute;
	top: 330px;
	left: 40px;
	width: 180px;
	height: 180px;
	background: red;
}
.pequeñofo3{
	position: absolute;
	top: 330px;
	left: 240px;
	width: 180px;
	height: 180px;
	background: red;
}
.titulo{
	position: absolute;
	top: 100px;
	left: 80px;
	color: white;
	font-size: 30px;
}
.titulo1{
	position: absolute;
	top: 90px;
	left: 80px;
	color: white;
	font-size: 25px;
}
.texto1{
	position: absolute;
	top: 90px;
	left: 10px;
	color: white;
	font-size: 20px;
}
.texto2{
	position: absolute;
	top: 90px;
	left: 10px;
	color: white;
	font-size: 19px;
}
.foto1{
	position: absolute;
	top: 90px;
	left: 10px;
	width: 250px;
	height: 130px;
	background: url("foto1.jpg");
	background-size: cover;
}
.foto2{
	position: absolute;
	top: 90px;
	left: 10px;
	width: 160px;
	height: 160px;
	background: url("foto2.jpg");
	background-size: cover;
}
.foto3{
	position: absolute;
	top: 90px;
	left: 10px;
	width: 160px;
	height: 160px;
	background: url("foto3.jpg");
	background-size: cover;
}
